<header class="header">
    <a class="header__link" href="//gmail.com">Gmail</a>
    <a class="header__link" href="//google.com/images">Images</a>
    <mat-icon class="header__icon">apps</mat-icon>
    <button class="header__button" type="button">Sign in</button>
</header>

<main class="main">
    <img class="main__logo" src="assets/google_logo.png" alt="logo">
    <form class="main__form">
        <app-search></app-search>
    </form>
    <div class="main__button">
        <button type="button">Goole Search</button>
        <button>I'm feeling lucky</button>
    </div>
</main>